html
{
    overflow: auto;
    font-size:10px;
}
body
{
    overflow: hidden;
    position: relative;

    min-width: 900px;
    min-height:700px;
    width:100vw;
    height:100vh;
    padding:0;
    margin:0;

    line-height:1;
    font-family:'Microsoft JhangHei','Microsoft YaHei',serif;
    color:#666666;

    background:white;
}

a:link,a:visited,a:hover,a:focus
{
    color:currentColor;
    text-decoration:none;
}